{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }}
    Add Movie
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h2>Add Movie</h2>
    <div id="parent" class="col-xs-12">
        <form enctype="multipart/form-data" id="addCertificate">
            <div class="form-group col-xs-8">
                <label for="_id">ID</label>
                <input type="text" class="form-control" id="id" placeholder="Enter _id">
            </div>
            <div class="form-group col-xs-8">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Enter title">
            </div>
            <div class="form-group col-xs-8">
                <label for="slug">Slug</label>
                <input type="text" class="form-control" id="slug" placeholder="Enter slug">
            </div>
            <div class="form-group col-xs-8">
                <label for="poster_url">Poster Url</label>
                <input type="text" class="form-control" id="poster_url" placeholder="Enter poster url">
            </div>
            <div class="form-group col-xs-8">
                <label for="backdrop_url">Backdrop Url</label>
                <input type="text" class="form-control" id="backdrop_url" placeholder="Enter backdrop url">
            </div>
            <div class="form-group col-xs-8">
                <label for="plot">Plot</label>
                <input type="text" class="form-control" id="plot" placeholder="Enter plot">
            </div>
            <div class="form-group col-xs-8">
                <button type="button" class="btn btn-success" onclick="addMovie()">Add Movie</button>
            </div>
        </form>
    </div>
    <div class="col-xs-12 text-center">
        <a href="/">Back to Home Page</a>
    </div>
    {% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
